power meter code 20200512.json
[{"id":"8748ab0f.59cab8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b9a47a86.c46c58","type":"modbus-client","z":"","name":"","clienttype":"simpleser","bufferCommands":true,"stateLogEnabled":false,"queueLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB0","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"f4a97283.7e64f","type":"ui_group","z":"","name":"meter","tab":"41c8e01a.49d46","order":1,"disp":true,"width":"6","collapse":false},{"id":"41c8e01a.49d46","type":"ui_tab","z":"","name":"home","icon":"dashboard","order":1},{"id":"88a5b548.3aa498","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2c4b9333.286a7c","type":"inject","z":"8748ab0f.59cab8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":130,"y":100,"wires":[["54769a74.974884"]]},{"id":"54769a74.974884","type":"function","z":"8748ab0f.59cab8","name":"first step initial all global variable to 0","func":"//global variable define\nvar power_meter_data=\n{\n    voltage:0,\n    ampere:0,\n    watt:0,\n    PF:0,\n    id:\"power_meter_data\",\n    rs485_online:0\n};\nglobal.set(\"power_meter_data\",power_meter_data);\nreturn power_meter_data;","outputs":1,"noerr":0,"x":400,"y":100,"wires":[[]]},{"id":"7041b011.88c9","type":"inject","z":"8748ab0f.59cab8","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"onceDelay":"","x":130,"y":440,"wires":[["d0e6e72d.5157e8"]]},{"id":"e0884d89.9e638","type":"function","z":"8748ab0f.59cab8","name":"add data time stamp","func":"var now     = new Date(); \nvar year    = now.getFullYear();\nvar month   = now.getMonth()+1; \nvar day     = now.getDate();\nvar hour    = now.getHours();\nvar minute  = now.getMinutes();\nvar second  = now.getSeconds(); \nif(month.toString().length == 1) \n{\n    month = '0'+month;\n}\nif(day.toString().length == 1) \n{\n    day = '0'+day;\n}   \nif(hour.toString().length == 1) \n{\n    hour = '0'+hour;\n}\nif(minute.toString().length == 1) \n{\n    minute = '0'+minute;\n}\nif(second.toString().length == 1) \n{\n    second = '0'+second;\n}   \n\n//csv file path\nmsg.filename='/home/pi/Desktop/PowerMeter/PowerMeter_'+year+month+day+ '.csv';\nmsg.payload.timestamp =hour+':'+minute+':'+second;\n\nif((hour=='00')&&(minute=='00')&&((second<='00')))  //cross day\n{\n    return [null,msg];  //2th output csv title field\n}\nelse    //other time\n{\n    return [msg,null];  //1st output csv data field\n}","outputs":"2","noerr":0,"x":180,"y":1020,"wires":[["5e937d9d.56fd34"],["502a919f.d90f9"]]},{"id":"5e937d9d.56fd34","type":"csv","z":"8748ab0f.59cab8","name":"紀錄每秒數值","sep":",","hdrin":true,"hdrout":false,"multi":"one","ret":"\\n","temp":"timestamp,voltage,ampere,watt,powerfactor,rs485_online","skip":0,"strings":true,"x":460,"y":1000,"wires":[["c12d3efe.ab76a","d5b70489.8c0fe8"]]},{"id":"c12d3efe.ab76a","type":"file","z":"8748ab0f.59cab8","name":"file saved at tc_data","filename":"","appendNewline":false,"createDir":true,"overwriteFile":"false","x":820,"y":1000,"wires":[[]]},{"id":"502a919f.d90f9","type":"csv","z":"8748ab0f.59cab8","name":"跨零時填標題","sep":",","hdrin":false,"hdrout":true,"multi":"one","ret":"\\n","temp":"timestamp,voltage,ampere,watt,powerfactor,rs485_online","skip":0,"strings":true,"x":460,"y":1040,"wires":[["c12d3efe.ab76a","d5b70489.8c0fe8"]]},{"id":"d5b70489.8c0fe8","type":"debug","z":"8748ab0f.59cab8","d":true,"name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":1080,"wires":[]},{"id":"b485f262.7bc52","type":"debug","z":"8748ab0f.59cab8","name":"build object msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":600,"y":440,"wires":[]},{"id":"f2f22927.8eecc8","type":"debug","z":"8748ab0f.59cab8","name":"power meter data msg","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":630,"y":260,"wires":[]},{"id":"d0e6e72d.5157e8","type":"function","z":"8748ab0f.59cab8","name":"build object","func":"var power_meter_data=global.get(\"power_meter_data\");\n//if rs485 online then save data,else fill 0 to data\nif(power_meter_data.rs485_online===1)\n{\n    msg.payload = \n    {\n        \"voltage\":power_meter_data.voltage,\n        \"ampere\":power_meter_data.ampere,\n        \"watt\":power_meter_data.watt,\n        \"powerfactor\":power_meter_data.PF,\n        \"rs485_online\":power_meter_data.rs485_online\n    };\n}\nelse\n{\n    msg.payload = \n    {\n        \"voltage\":0,\n        \"ampere\":0,\n        \"watt\":0,\n        \"powerfactor\":0,\n        \"rs485_online\":power_meter_data.rs485_online\n    };\n}\npower_meter_data.rs485_online=0;    //clear for next rs485 online test\nglobal.set(\"power_meter_data\",power_meter_data);\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":440,"wires":[["e0884d89.9e638","b485f262.7bc52","edebbcfb.0019d"]]},{"id":"94b430e6.69a9d","type":"modbus-read","z":"8748ab0f.59cab8","name":"","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"1","dataType":"InputRegister","adr":"0","quantity":"10","rate":"500","rateUnit":"ms","delayOnStart":false,"startDelayTime":"","server":"b9a47a86.c46c58","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":140,"y":260,"wires":[["e079f722.fe7438"],[]]},{"id":"e079f722.fe7438","type":"function","z":"8748ab0f.59cab8","name":"modbus packet decoder","func":"//packet decoder\nmsg.voltage=msg.payload[0]/10;\nmsg.ampere=(msg.payload[2]*65535+msg.payload[1])/1000;\nmsg.watt=(msg.payload[4]*65535+msg.payload[3])/10;\nmsg.Wh=(msg.payload[6]*65535+msg.payload[5])/1000;\nmsg.freq=msg.payload[7]/10;\nmsg.PF=msg.payload[8]/100;\nmsg.alarm=msg.payload[9];\n\n//save data to global variables\nvar power_meter_data=global.get(\"power_meter_data\");\npower_meter_data.voltage=msg.voltage;\npower_meter_data.ampere=msg.ampere;\npower_meter_data.watt=msg.watt;\npower_meter_data.PF=msg.PF;\npower_meter_data.rs485_online=1;\nglobal.set(\"power_meter_data\",power_meter_data);\n\nreturn power_meter_data","outputs":1,"noerr":0,"x":380,"y":260,"wires":[["f2f22927.8eecc8"]]},{"id":"fd89fd12.8a771","type":"ui_text","z":"8748ab0f.59cab8","group":"f4a97283.7e64f","order":1,"width":0,"height":0,"name":"","label":"voltage","format":"{{msg.payload}} V","layout":"row-spread","x":620,"y":620,"wires":[]},{"id":"98a7f10b.1744","type":"ui_text","z":"8748ab0f.59cab8","group":"f4a97283.7e64f","order":3,"width":0,"height":0,"name":"","label":"ampere","format":"{{msg.payload}} A","layout":"row-spread","x":600,"y":700,"wires":[]},{"id":"b84c9fbb.0cf58","type":"ui_text","z":"8748ab0f.59cab8","group":"f4a97283.7e64f","order":5,"width":0,"height":0,"name":"","label":"watt","format":"{{msg.payload}} W","layout":"row-spread","x":590,"y":780,"wires":[]},{"id":"a15d8303.cc9e5","type":"ui_text","z":"8748ab0f.59cab8","group":"f4a97283.7e64f","order":7,"width":0,"height":0,"name":"","label":"Power Factor","format":"{{msg.payload}} %","layout":"row-spread","x":590,"y":880,"wires":[]},{"id":"76d93ae0.197c44","type":"ui_chart","z":"8748ab0f.59cab8","name":"","group":"f4a97283.7e64f","order":2,"width":0,"height":0,"label":"voltage_trend","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"130","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":650,"y":580,"wires":[[]]},{"id":"8896e2be.9bca9","type":"ui_chart","z":"8748ab0f.59cab8","name":"","group":"f4a97283.7e64f","order":4,"width":0,"height":0,"label":"ampere_trend","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":620,"y":660,"wires":[[]]},{"id":"d23bb859.1602b8","type":"ui_chart","z":"8748ab0f.59cab8","name":"","group":"f4a97283.7e64f","order":6,"width":0,"height":0,"label":"watt_trend","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":740,"wires":[[]]},{"id":"42a74e30.d1cc1","type":"ui_chart","z":"8748ab0f.59cab8","name":"","group":"f4a97283.7e64f","order":8,"width":0,"height":0,"label":"Power Factor trend","chartType":"horizontalBar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"1","removeOlder":"3","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":610,"y":820,"wires":[[]]},{"id":"edebbcfb.0019d","type":"function","z":"8748ab0f.59cab8","name":"dashboard object","func":"var dashboard_voltage={payload:msg.payload.voltage};\nvar dashboard_ampere={payload:msg.payload.ampere};\nvar dashboard_watt={payload:msg.payload.watt};\nvar dashboard_powerfactor={payload:msg.payload.powerfactor};\nvar dashboard_rs485_online={payload:msg.payload.rs485_online};\n\nreturn [dashboard_voltage,dashboard_ampere,dashboard_watt,dashboard_powerfactor,dashboard_rs485_online]","outputs":5,"noerr":0,"x":370,"y":600,"wires":[["fd89fd12.8a771","76d93ae0.197c44"],["8896e2be.9bca9","98a7f10b.1744"],["d23bb859.1602b8","b84c9fbb.0cf58"],["42a74e30.d1cc1","a15d8303.cc9e5"],[]]},{"id":"75935b6a.a33844","type":"comment","z":"8748ab0f.59cab8","name":"開機初始值","info":"","x":120,"y":40,"wires":[]},{"id":"e5b3be44.b2af3","type":"comment","z":"8748ab0f.59cab8","name":"power meter rs485通訊協定","info":"","x":160,"y":200,"wires":[]},{"id":"e650b27a.42eff","type":"comment","z":"8748ab0f.59cab8","name":"定期更新儀錶板&電源數據存檔","info":"","x":170,"y":380,"wires":[]},{"id":"9af23256.7043c","type":"comment","z":"8748ab0f.59cab8","name":"儀錶板顯示","info":"","x":360,"y":520,"wires":[]},{"id":"9e8781cc.00111","type":"comment","z":"8748ab0f.59cab8","name":"存檔","info":"","x":170,"y":960,"wires":[]}]